global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 30s
    timeout server 60s

frontend vulnerable_ingress
    bind :3320
    default_backend vulnerable_metabase

backend vulnerable_metabase
    server vulnerable vulnerable:3000 check

frontend fixed_control_ingress
    bind :3321
    default_backend fixed_control_metabase

backend fixed_control_metabase
    server fixed-control fixed-control:3000 check
